<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/styles.css">.
        <link rel="stylesheet" href="css/register.css">
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo">
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo"></a>
                </div>
                <form action="/" method="GET">
                    <input type="text" name="search" id="search" placeholder="Buscar productos, marcas y más" minlength="3"
                        required>
                    <button type="submit" title="search"><i class="fa fa-search"></i></button>
                </form>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="bot-header">
                <div class="burger-menu">
                    <i class="fa fa-bars burger"></i>
                </div>
            </div>
        </header>
        <main>
            <form action="/" method="">
                <div class="form">
                    <label for="name">Nombre y Apellido: </label>
                    <input type="text" name="name" id="name" minlength="2" required>
                    <label for="username">Nombre de usuario: </label>
                    <input type="text" name="username" id="username" minlength="7" required>
                    <label for="birth">Fecha de nacimiento: </label>
                    <input type="date" name="birth" id="birth" required>
                    <label for="address">Domicilio: </label>
                    <input type="text" name="address" id="address" minlength="2" required>
                    <h3>Perfil de usuario</h3>
                    <div class="type-user">
                        <label for="comprador">Comprador </label>
                        <input type="radio" name="user-profile" value="comprador" id="comprador" required>
                        <label for="vendedor">Vendedor </label>
                        <input type="radio" name="user-profile" value="vendedor" id="vendedor">
                    </div>
                    <h3>Categorías de interés</h3>
                    <div class="intereses">
                        <label for="electro">Electro </label>
                        <input type="checkbox" name="interes" id="electro">
                        <label for="moda">Moda </label>
                        <input type="checkbox" name="interes" id="moda">
                        <label for="hogar">Hogar </label>
                        <input type="checkbox" name="interes" id="hogar">
                        <label for="jugueteria">Jugueteria </label>
                        <input type="checkbox" name="interes" id="jugueteria">
                        <label for="vida-sana">Vida sana </label>
                        <input type="checkbox" name="interes" id="vida-sana">
                    </div>
                    <label for="profile-img">Foto de perfil: <input type="file" name="profile-img" id="profile-img" required></label>
                    <label for="pass">Contraseña: </label>
                    <input type="password" name="pass" id="pass" minlength="4" required>
                    <label for="confirm-pass">Confirmar contraseña: </label>
                    <input type="password" name="confirm-pass" id="confirm-pass" minlength="4" required>
                    <div class="buttons">
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Borrar">
                    </div>
                </div>
                
            </form>
        </main>
    </body>
</html>